<template>
    <div class="card" v-show="tempJob">
        <div class="card-header">
            <span v-html="label"></span> {{tempJob.title}} [{{tempJob.command}}: {{tempJob.id}}]
            <a class="float-right" @click="remove(tempJob.id)" v-show="single !== 1">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
            </a>
        </div>
        <div class="card-body">
            <div v-show="tempJob.payload">
                <div class="row">
                    <div class="col-6">
                        <b>Options:</b>
                        <ul>
                            <li v-for="(val, param) in tempJob.payload">
                                <b>{{param}}</b>: {{val}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <p><b>Attempts:</b> {{tempJob.attempts}}</p>
                        <p><b>Created At:</b> {{tempJob.created_at}}</p>
                    </div>
                </div>

            </div>
            <div>
                <div class="progress">
                    <div class="progress-bar" :class="barClass"
                         role="progressbar" :style="barStyle" v-bind:property="tempJob.progress">
                        {{ tempJob.progress }}
                    </div>
                </div>
                <div class="log" v-show="logs.length">
                    <ul class="list-group">
                        <li class="list-group-item" v-for="log in logs">
                            {{ log }}
                        </li>
                    </ul>
                </div>
            </div>
            <div v-show="isJobFinished && tempJob.report">
                <div v-show="tempJob.report">
                    <b>Report:</b>
                    <p>{{tempJob.report}}</p>
                </div>
                <a :href="'/logs/'+tempJob.name+'/'+tempJob.id" class="btn btn-flat btn-info">
                    See Execution Logs
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'active-job',
        props: {
            job: {},
            single: 1
        },

        data() {
            return {
                logs: [],
                tempJob: {},
                labels: {
                    'success': '<div class="badge badge-success">SUCCESS</div>',
                    'fail': '<div class="badge badge-danger">FAIL</div>',
                    'retry': '<div class="badge badge-dark">RETRY</div>',
                    'pending': '<div class="badge badge-primary">PENDING</div>',
                    'declined': '<div class="badge badge-warning">DECLINED</div>',
                    'processing': '<div class="badge badge-info">PROCESSING</div>'
                },
                bar: {
                    'success': 'bg-success',
                    'fail': 'bg-danger',
                    'retry': 'bg-warning',
                    'pending': 'bg-primary',
                    'declined': 'bg-dark',
                    'processing': 'bg-info'
                }
            }
        },
        computed: {
            computedJob() {
                    return JSON.parse(this.job);
            },
            barStyle() {
                if (this.tempJob.state === 'success') {
                    this.tempJob = 100;
                }
                return {'width': this.tempJob.progress + '%'};
            },
            barClass() {
                let barClass = this.bar[this.tempJob.state];
                if (this.tempJob.state === 'processing') {
                    barClass += ' progress-bar-stripped progress-bar-animated'
                }
                return barClass;
            },
            label() {
                return this.labels[this.tempJob.state] || this.labels.pending;
            }
        },
        methods: {
            remove(id) {
                this.$echo.leave(`Job.${this.tempJob.id}`);
                this.$nextTick(function () {
                    this.$emit('removeItem', id);
                });
            },
            addLog(text) {
                this.logs.push(text);
            },
            isJobFinished() {
                return ['success', 'fail'].includes(this.tempJob.state);
            },
            updateJob(job) {
                this.tempJob.state = job.state;
                this.tempJob.report = job.report;
                this.tempJob.progress = job.progress;
                this.tempJob.attempts = job.attempts;
            },

            jobSubscribe() {
                this.$echo.private(`Job.${this.tempJob.id}`).notification((notification) => {
                    if (notification.message_type === 'progress') {
                        this.tempJob.progress = notification.message;
                    } else if (notification.message_type === 'state') {
                        this.updateJob(JSON.parse(notification.job));
                    } else {
                        this.logs.unshift(notification.message);
                    }
                });
            }
        },
        mounted() {
            this.tempJob = this.computedJob;
            if (!this.isJobFinished()) {
                this.jobSubscribe();
            }
        }
    }
</script>

<style>
    .log {
        height: 200px;
        max-height: 200px;
        overflow-y: auto;
    }
</style>
