<template>
    <el-select
        v-model="value"
        :id="id"
        :placeholder="placeholder"
        :name="name"
        multiple
        filterable
        allow-create
        size="large"
        default-first-option>
        <el-option
            v-for="item in options"
            :key="item.value"
            :value="item.value">
        </el-option>
    </el-select>
</template>

<script>
    export default {
        data() {
            return {
                options: [],
                value: []
            }
        },
        props: ['id', 'placeholder', 'name'],
    }
</script>

<style scoped>

</style>
